body, html{
    height: 100%;
    width: 100%;
    font-family: 'Merriweather', serif;
    background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img{
    width: 1200px;
    height: 700px;
    justify-content: center;
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: pulse; 
    animation-duration: 2s; 
}

.buffer{
    height: 5rem;
}

.btn{
    border-radius: 300px;
    font-size: 700;
    text-transform: uppercase;
}

.btn-info{
    background-color: green;
    border-color: green;
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: backInLeft; 
    animation-duration: 2s; 
}

.btn-info:hover{
    background-color: #034d00;
    border-color: #034d00;
    border-width: 4px;
}

.btn-xl{
    padding: 1rem 2rem;
}

.btn-xl:hover{
    color: #888888;
}
